iframe { max-width: 100%;}

/*colocar background-color: #eaedf0}*/

#main-header-other {
  color: black;
  margin-top: 10px;
}

#subpage-title { margin-top: 5em; }



#links header { text-align: right;}

.link-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  border-left: 2px solid red;
  padding-left: 1em;
}
.link-container iframe {
  left:1em;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#links .row { margin-bottom: 6em;}

footer { margin-top: 5em;}
